html {
  height: 100%;
}

body {
  height: 100%;
}

.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Main {
  text-align: center;
}
